@model LoginModel

<div class="">
	<h3>Login</h3>
	<form class="" asp-action="Login" method="post">
		<div>
			<input type="text" asp-for="Username" required placeholder="Username" />
		</div>
		<div>
			<input type="password" asp-for="Password" required placeholder="Password" />
		</div>
		@if (!Model.IsValid)
		{
			<div>
				<span>Incorrect username or password</span>
			</div>
		}
		<div>
			<p>Don't have an account?<a asp-action="SignUp">Click here</a></p>
		</div>
		<button>
			Login
		</button>
	</form>
</div>
