<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoteSystemWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NoteSystemWeb.styles.css" asp-append-version="true" />
    <style>
        .menu ul li a {

            display: block;
            text-decoration: none;
            color: #e5e7eb;
            padding: 5px 10px;
        }
    </style>
</head>
<body style="background-color: #212121;">
    <header class="header">
        <nav class="menu sidebar" id="navbar">
            <ul>
                <li><a asp-controller="Account" asp-action="DeleteAccount">Delete Account</a></li>
                <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </nav>
        <div class="user-icon" id="user-btn">
            <i class="bi bi-person"></i>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted bg-footer">
        <div class="container">
            &copy; 2024 - NoteSystemWeb 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>